@charset "utf-8";
/* 全局样式 */
body{ margin:0; padding:0; font-size:16px \9; font-size:1em; overflow-y:auto; font-family:Arial, Verdana, Tahoma, "微软雅黑", Hiragino Sans GB, system, sans-serif; _text-align:center; }
ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input, header, footer, section, nav, figure, figcaption, canvas{ margin:0; padding:0; font-weight:normal; font-family:Arial, Verdana, Tahoma, Hiragino Sans GB, system, sans-serif; _text-align:center; -webkit-font-smoothing:antialiased;}
div{ text-align:left; }
a img{ border:0; }
table{ border-collapse:collapse; border-spacing:0; }
ul, ol, li{ list-style-type:none; }
a{ outline-style:none; text-decoration:none; _text-decoration:none; }
a:hover, a.hover{ text-decoration:underline; }
h1{ font-size:32px \9; font-size:2rem; }
h2{ font-size:28px \9; font-size:1.75rem; }
h3{ font-size:24px \9; font-size:1.5rem; }
h4{ font-size:20px \9; font-size:1.25rem; }
h5{ font-size:18px \9; font-size:1.125rem; }
h6{ font-size:16px \9; font-size:1rem; }
.font48{ font-size:48px \9; font-size:3rem; }
.font32{ font-size:32px \9; font-size:2rem; }
.font30{ font-size:30px \9; font-size:1.875rem; }
.font28{ font-size:28px \9; font-size:1.75rem; }
.font24{ font-size:24px \9; font-size:1.5rem; }
.font20{ font-size:20px \9; font-size:1.25rem; }
.font18{ font-size:18px \9; font-size:1.125rem; }
.font16{ font-size:16px \9; font-size:1rem; }
.font15{ font-size:15px \9; font-size:0.9375rem; }
.font14{ font-size:14px \9; font-size:0.875rem; }
.font13{ font-size:13px \9; font-size:0.8125rem; }
.font12{ font-size:12px \9; font-size:0.75rem; }
.font10{ font-size:10px \9; font-size:0.625em; }
.font8{ font-size:8px \9; font-size:0.5em; }
.font0{ font-size:0; line-height:0; }